/*#tab{
border: 2px solid:#000;
} */
table,tr,td{
  border: 2px solid #000;
  border-collapse: collapse;
  margin: 2px;

}
.main{
  display:flex;
  flex-wrap:wrap;
}
.left{
  text-align: justify;
  border:5px solid #000;
  margin:2px;
  flex:1;
  background-color:#f0e68c;
  color: #000;
}
.right{
  text-align: justify;
  border:5px solid  #000;
  margin:2px;
  flex:2;
  background-color:#ff69b4;
  color: #000;
}
#name{
  color:blue;
}
.left img{
border-radius:25px;
border:5px solid #c454;
}
/*media queries (1024,1280,768,480)
1280-1024: Desktop
1024-768: Tablet(landscape)
768-480 : Tablet
480     : mobile (or)smaller device
 */

/*@media screen and (min-width:425px){
}*/
@media only screen and (min-width:1024px) and (max-width:1280px){
  .main{
    display:flex;
    flex-direction:row;
  }
  .left{
    background-color:#985;
  }
  .right{
    background-color:#5436;
  }
}

@media only screen and (min-width:768px) and (max-width:1024px){

}
@media only screen and (min-width:480px) and (max-width:768px){

}
@media only screen and (max-width:480px) {

}
